:root {
  --dark: #45474b;
  --light-color: #f5f7f8;
  --green: #495e57;
  --yellow: #f4ce14;
}
body {
  background-color: var(--dark);
  color: var(--light-color);
  text-align: center;
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
}
button {
  margin-top: 10%;
  border: none;
  border-radius: 5px;
  padding: 0.5% 1%;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 3px;
  background-color: var(--yellow);
  transition-duration: 0.2s;
}
button:hover {
  background-color: var(--green);
  color: var(--yellow);
  transform: scale(0.9);
}
.score {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.score span {
  color: var(--yellow);
  margin-left: 2%;
}
.result {
  text-align: center;
  color: var(--yellow);
  font-size: 1.5rem;
  color: var(--green);
}

/* Styling for the container */
.coin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 300px;
}

/* Coin styling */
.coin {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--yellow);
  border: 15px solid var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  transition: transform 0.6s ease-in-out; /* coin flip transition */
}

/* Animation for flipping the coin */
@keyframes flipCoin {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* Class for the flip animation */
.coin.flipping {
  animation: flipCoin 0.5s ease-in-out; /* The coin flips when this class is added */
}
